/*
*************************************************

PROJECT NAME
General Screen Styles

Created by the epic SuperFriendly team.
http://superfriend.ly/

*************************************************
*/


/*-------------------------------------------    
    Fonts     
-------------------------------------------*/



/*-------------------------------------------    
    Flag
        (Thanks Jeremy: http://adactio.com/journal/5429/)
-------------------------------------------*/
body:after { content: 'mini'; display: none; }



/*-------------------------------------------    
    Base     
-------------------------------------------*/
* { margin: 0; padding: 0; }
html { font-size: 62.5%; } /* for rems */
body { font-family: Helvetica, Arial, sans-serif; color: #333; background: #e8ecf0 url(../i/denim.png) no-repeat 50% 350px; }


/* block level */

h1, .h1 { font: bold 4.2rem Helvetica, Arial, sans-serif; margin: 0 0 0.5em; }
h2, .h2 { font: bold 1.8rem Helvetica, Arial, sans-serif; margin: 0 0 1em; }
h3, .h3 { font: bold 1.5rem Helvetica, Arial, sans-serif; margin: 0 0 1em; }
h4, h5, h6, .h4, .h5, .h6 { font: bold 1.2rem Helvetica, Arial, sans-serif; margin: 0 0 1em; }

p, ul, dl, ol, table { font-size: 16px; margin: 0 0 1.5em; }

form { margin: 0 0 1.5em; }

/* inline */

label { font-size: 1.6rem; }
input, select, textarea {  }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { }
input.empty::-webkit-input-placeholder, textarea.empty::-webkit-input-placeholder { color: red; }
input.empty:-moz-placeholder, textarea.empty:-moz-placeholder { color: red; }
.error { color: red; }

table { }
    td { padding: 0.25em 1em; border-top: 1px solid #aaa; }

em { font-style: italic; }
strong { font-weight: bold; }

mark { background: none; font-style: normal; }

video { width: 100%; height: auto; }

a { text-decoration: none; }
a:hover, a:focus { color: red; }

img { display: block; margin: 0 10px 10px 0; max-width: 100%; }

a img { border: none; }

i { font-style: normal; }
b { font-weight: normal; }

abbr, abbr[title], acronym { font-size: 75%; letter-spacing: 0.2em; text-transform: uppercase; border: none; }

code { font: 1.4rem/1 Consolas, 'Courier New', Courier, monospace; color: #999; }

sub, sup { line-height: 0; }

::selection { background: #2a69c2; color: #fff; }
::-moz-selection { background: #2a69c2; color: #fff; }


/*-------------------------------------------    
    Global
-------------------------------------------*/
 
/* Phark Image Replacement - http://phark.typepad.com/phark/2003/08/accessible_imag.html */
.phark { display: block; text-indent: -9999px; background-position: 0 0; background-repeat: no-repeat; background-color: transparent; }

/* Trimming Outline in Firefox - http://snook.ca/archives/html_and_css/trimming_long_o  */
/*\*/ .phark-link { overflow: hidden; } /**/

/* Easy Clearing - http://www.positioniseverything.net/easyclearing.html */ 
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.offscreen { position: absolute; left: -9999px; display: block; }
.onscreen { left: 0; }

.hide { display: none; }

.no-bullets { list-style: none; }

.bulleted { list-style: disc; }

.uppercase { text-transform: uppercase; }

.rwd-break { display: block; }

/*-------------------------------------------    
	Modules
-------------------------------------------*/
.page-wrapper { width: 94%; margin: 0 auto; }

.main h3, .preamble h3 { visibility: hidden; }
.main h3:after, .preamble h3:after { visibility: visible; display: block; font-size: 1.8rem; text-transform: uppercase; letter-spacing: 0.1em; }



/*-------------------------------------------    
	Banner
-------------------------------------------*/
[role="banner"] h1 { padding: 1em 0 0; text-transform: uppercase; letter-spacing: 0.1em; font-size: 3.5rem; }
[role="banner"] h1:before { content: "The "; }
[role="banner"] h1:after { content: "Made in China"; visibility: visible; display: block; color: #686a6c; letter-spacing: 0.5em; font-size: 1.4rem; font-weight: normal; margin: 0.5em 0 0; }

[role="banner"] h2 { visibility: hidden; display: none; }
[role="banner"] h2:after { content: "Ringspun Denim"; visibility: visible; display: block; }


/*-------------------------------------------    
    Preamble
-------------------------------------------*/
.summary p { text-transform: uppercase; letter-spacing: 0.1em; font-size: 1.8rem; line-height: 1.6; }


/*-------------------------------------------    
    Preamble
-------------------------------------------*/
.preamble { background: transparent url(../i/sep.png) no-repeat 50% 0; }
	.preamble h3:after { visibility: visible; content: "A Fashion-Forward Future";  }


/*-------------------------------------------    
	Explanation
-------------------------------------------*/
.explanation h3:after { content: "See Yourself in a Completely Different Way";  }


/*-------------------------------------------    
	Participation
-------------------------------------------*/
.participation h3:after { content: "Get Into a New Pair";  }


/*-------------------------------------------    
	Benefits
-------------------------------------------*/
.benefits h3:after { content: "Look Great\2026  and Feel Great Too!";  }


/*-------------------------------------------    
	Requirements
-------------------------------------------*/
.requirements h3:after { content: "Find Your Size";  }