/*
*************************************************

CSS ZEN GARDEN
General Screen Styles

Created by the epic SuperFriendly team.
http://superfriend.ly/

*************************************************
*/


/*-------------------------------------------    
    Fonts     
-------------------------------------------*/



/*-------------------------------------------    
    Flag
    (Thanks Jeremy: http://adactio.com/journal/5429/)
-------------------------------------------*/
body:after { content: 'mini'; display: none; }



/*-------------------------------------------    
    Base     
-------------------------------------------*/
* { margin: 0; padding: 0; }
html { font-size: 62.5%; } /* for rems */
body { font-family: Georgia, 'Times New Roman', serif; color: #333; background: #fefdfb; }


/* block level */

h1, .h1 { font: bold 4.2rem Georgia, 'Times New Roman', serif; margin: 0 0 0.5em; }
h2, .h2 { font: bold 1.8rem Georgia, 'Times New Roman', serif; margin: 0 0 1em; }
h3, .h3 { font: bold 1.5rem Georgia, 'Times New Roman', serif; margin: 0 0 1em; }
h4, h5, h6, .h4, .h5, .h6 { font: bold 1.2rem Georgia, 'Times New Roman', serif; margin: 0 0 1em; }

p, ul, dl, ol, table { font-size: 16px; margin: 0 0 1.5em; }

form { margin: 0 0 1.5em; }

/* inline */

label { font-size: 1.6rem; }
input, select, textarea {  }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { }
input.empty::-webkit-input-placeholder, textarea.empty::-webkit-input-placeholder { color: red; }
input.empty:-moz-placeholder, textarea.empty:-moz-placeholder { color: red; }
.error { color: red; }

table { }
    td { padding: 0.25em 1em; border-top: 1px solid #aaa; }

em { font-style: italic; }
strong { font-weight: bold; }

mark { background: none; font-style: normal; }

video { width: 100%; height: auto; }

a { text-decoration: none; color: #5183a6; }
a:hover, a:focus { color: red; }

img { display: block; margin: 0 10px 10px 0; max-width: 100%; }

a img { border: none; }

i { font-style: normal; }
b { font-weight: normal; }

abbr, abbr[title], acronym { font-size: 75%; letter-spacing: 0.2em; text-transform: uppercase; border: none; }

code { font: 1.4rem/1 Consolas, 'Courier New', Courier, monospace; color: #999; }

sub, sup { line-height: 0; }

::selection { background: #2a69c2; color: #fff; }
::-moz-selection { background: #2a69c2; color: #fff; }


/*-------------------------------------------    
    Global
-------------------------------------------*/
 
/* Phark Image Replacement - http://phark.typepad.com/phark/2003/08/accessible_imag.html */
.phark { display: block; text-indent: -9999px; background-position: 0 0; background-repeat: no-repeat; background-color: transparent; }

/* Trimming Outline in Firefox - http://snook.ca/archives/html_and_css/trimming_long_o  */
/*\*/ .phark-link { overflow: hidden; } /**/

/* Easy Clearing - http://www.positioniseverything.net/easyclearing.html */ 
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.offscreen { position: absolute; left: -9999px; display: block; }
.onscreen { left: 0; }

.hide { display: none; }

.no-bullets { list-style: none; }

.bulleted { list-style: disc; }

.uppercase { text-transform: uppercase; }

.rwd-break { display: block; }

.kellum { text-indent: 100%; white-space: nowrap; overflow: hidden; }

/*-------------------------------------------    
    Modules
-------------------------------------------*/

.intro { position: relative; }




/*-------------------------------------------    
    Banner
-------------------------------------------*/

[role="banner"] { padding: 10em 0 7em; background: transparent url(../i/banner-small.jpg) no-repeat 50% 50%; background-size: cover; margin: 10px 10px 2em; }
    [role="banner"] h1 { font: 2rem Helvetica, Arial, sans-serif; text-transform: uppercase; letter-spacing: 0.3em; text-align: center; color: #243a49; color: #fff; }

    /* Diamond outline */
    [role="banner"] h1:before { content: ""; border: 1px solid #aaaaa8; border: 1px solid #fff; display: block; width: 2em; height: 2em; position: absolute; top: 2em; left: 50%; margin-left: -1em; -webkit-transform: rotate(45deg); }

    [role="banner"] h2 { visibility: hidden; }

    /* CZG */
    [role="banner"] h2:before { content: "CZG"; display: block; visibility: visible; font: 1rem Helvetica, Arial, sans-serif; text-transform: uppercase; letter-spacing: 0.3em; position: absolute; top: 5.5em; left: 50%; margin-left: -1.2em; color: #fff; }
    
    /* Tagline */
    [role="banner"] h2:after { content: "The Fresh Flavors of a Modern Web"; display: block; visibility: visible; text-align: center; color: #8c8b8a; color: #fff; font-size: 1.4rem; font-style: italic; margin: -2em 0 2em; font-weight: normal; }


/*-------------------------------------------    
    Summary
-------------------------------------------*/
.summary { text-align: center; font-size: 1.4rem; width: 95%; margin: 0 auto; border-bottom: 1px solid #cbcac9; margin-bottom: 3em; max-width: 550px; }
    
    .summary p:nth-child(1) { border-bottom: 1px solid #cbcac9; padding: 0 0 2.5em; line-height: 1.4; }

    .summary p:nth-child(2) { visibility: hidden; background: green; position: relative; min-height: 5em; }

    /* "Ingredients" label */
    .summary p:nth-child(2):before { content: "Ingredients"; display: inline-block; visibility: visible; font: 1.4rem Helvetica, Arial, sans-serif; text-transform: uppercase; letter-spacing: 0.3em; text-align: center; position: relative; top: -2.4em; padding: 0; width: 100%; z-index: 2; color: #ababab; }
    .summary p:nth-child(2):after { visibility: visible; content: ""; display: block; background: #fefdfb; position: relative; top: -4.5em; left: 50%; width: 180px; height: 1.3em; margin-left: -90px; z-index: 1; }
        
        .summary p:nth-child(2) a { visibility: visible; position: absolute; left: 0; width: 100%; text-align: left; text-transform: uppercase; letter-spacing: 0.2em; font-size: 1.4rem; }
        .summary p:nth-child(2) a:after { content: "\00BD \0020 cup"; display: block; position: absolute; right: 0; top: 0; text-transform: none; letter-spacing: 0; color: #5e5e5e; }

        .summary p:nth-child(2) a:nth-child(2) { top: 4em; }


@media screen and (min-width: 856px){
    
    [role="banner"], .summary { width: 47.5%; margin: 0 0 0 2.5%; }

    [role="banner"] { background: none; max-width: 550px; padding: 15% 0 0; }
    [role="banner"]:after { content: ""; display: block; width: 45%; height: 674px; background: red url(../i/banner.jpg) no-repeat right 0; background-size: cover; position: absolute; right: 10px; top: 10px; }

        [role="banner"] h1 { color: #243a49; }
        [role="banner"] h1:before { display: none; }

        /* CZG */
        [role="banner"] h2:before { display: none; }
        [role="banner"] h2:after { color: #8c8b8a; }

    .summary { margin-bottom: 30%; }
}

@media screen and (min-width: 1163px){
    [role="banner"], .summary { margin-left: 5%; }
}


/*-------------------------------------------    
    Sub sections
-------------------------------------------*/
.preamble, .explanation, .participation, .benefits, .requirements { margin: 0 auto; width: 95%; }
.preamble h3, .explanation h3, .participation h3, .benefits h3, .requirements h3 { color: #fff; background: #333; padding: 6em 0; text-align: center; font: 2rem/1.4 Helvetica, Arial, sans-serif; text-transform: uppercase; letter-spacing: 0.3em; }

@media screen and (min-width: 856px){
    /*.preamble, .explanation, .participation, .benefits, .requirements { width: 97.5%; margin-bottom: 10em; }
    .preamble:after, .explanation:after, .participation:after, .benefits:after, .requirements:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
    .preamble h3, .explanation h3, .participation h3, .benefits h3, .requirements h3 { width: 47.5%; margin: 0 4% 0 2.5%; float: left; padding: 12em 0; }
    .requirements h3 { padding: 18em 0; }
    .explanation, .benefits { padding-left: 2.5%; }
    .explanation h3, .benefits h3 { float: right; }*/


    .preamble, .explanation, .participation, .benefits, .requirements { padding: 0 0 0 50%; position: relative; width: 50%; margin: 0 0 2em; }
    .preamble h3, .explanation h3, .participation h3, .benefits h3, .requirements h3 { /*position: absolute;*/ left: 2%; top: 0; padding: 0; width: 46%; height: 100%; display: table-cell; vertical-align: middle; height: 400px; }



}

